{% extends "base.html" %}
{% block title %}Authorize{% endblock %}
{% block content %}
		<h3>Login to authorize</h3>
		<p>Client: <strong>{{ client_id }}</strong></p>
		<p>Scope: <strong>{{ scope }}</strong></p>
		<form action="/oauth/authorize" method="POST">
			<input type="hidden" name="request_uri" value="{{ request_uri }}">
			<label>handle/DID: <input type="text" name="handle" placeholder="mypds.mycrab.space" autofocus></label>
			<label>password: <input type="password" name="password" placeholder="password"></label>
			<label>birthdate (YYYY-MM-DD): <input type="text" name="birthdate" placeholder="1990-01-01"></label>
			<input type="submit" value="Sign in">
		</form>
{% endblock %}
